<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Update Peserta</title>

    <!-- Bootstrap -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" methods="post"/>
    <link th:href="@{/css/bootstrap-datetimepicker.min.css}" rel="stylesheet" methods="post"/>
    <link th:href="@{/css/select2.min.css}" rel="stylesheet" methods="post"/>
    <link th:href="@{/css/select2-bootstrap.min.css}" rel="stylesheet" methods="post"/>
    <link th:href="@{/css/style.css}" rel="stylesheet" />

</head>
<body>
<div class="container">
    <div th:replace="fragments/header :: header"></div>
    <h1>Update Peserta</h1>

    <form th:action="@{/peserta/update/submit}" th:object="${peserta}" class="form-horizontal" method="post">

        <div class="form-group">
            <label for="nomor" class="col-sm-2 control-label">Nomor</label>
            <div class="col-sm-10">
                <input th:field="*{nomor}" type="text" class="form-control" id="nomor" placeholder="Nomor" readonly="readonly" required="required" maxlength="10" />
                <span th:if="${#fields.hasErrors('nomor')}" th:errors="*{nomor}">Name Error</span>
            </div>
        </div>

        <div class="form-group">
            <label for="nomor" class="col-sm-2 control-label">Kode Prodi</label>
            <div class="col-sm-10">
                <select name="kode_prodi" id="listProdi" style="width: 100%;">
                    <option value="" selected="selected">Belum lulus SBMPTN</option>
                    <span th:each="universitas : ${daftarUniversitas}">
                    <option th:each="prodi : ${universitas.daftar_prodi}"
                            th:value="${prodi.kode_prodi}"
                            th:text="${prodi.kode_prodi} + ' - ' + ${prodi.nama_prodi} + ' | ' + ${universitas.nama_univ}"
                            th:selected="*{kode_prodi} == ${prodi.kode_prodi}"
                    ></option>
                    </span>
                </select>
            </div>
        </div>


        <div class="form-group">
            <label for="nama_peserta" class="col-sm-2 control-label">Nama</label>
            <div class="col-sm-10">
                <input th:field="*{nama}" type="text" class="form-control" id="nama_peserta" placeholder="Nama" required="required" maxlength="30" />
            </div>
        </div>

        <div class="form-group">
            <label for="tanggalLahirPickerDiv" class="col-sm-2 control-label">Tanggal Lahir</label>
            <div class="col-sm-10">
                <div class='input-group date' id='tanggalLahirPickerDiv'>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    <input name="tanggalLahir" th:value="${#dates.format(peserta.tanggalLahir, 'MM-dd-yyyy')}" id='tanggalLahirPicker' type='text' class="form-control" placeholder="Tanggal Lahir" required="required" />
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success">Save</button>
            </div>
        </div>
    </form>
</div><!-- /.container -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/moment.min.js}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/bootstrap-datetimepicker.min.js}"></script>
<script th:src="@{/js/select2.full.min.js}"></script>
<script type="text/javascript">
    $(function () {
        $('#tanggalLahirPicker').datetimepicker({
            maxDate: 'now',
            format: 'MM/DD/YYYY'
        });
        $("#listProdi").select2();
    });

</script>
</body>
</html>