<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Tambah Prodi</title>

    <!-- Bootstrap -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" methods="post"/>\
    <link th:href="@{/css/style.css}" rel="stylesheet" />

</head>
<body>
<div class="container">
    <div th:replace="fragments/header :: header"></div>
    <h1>Update Prodi</h1>

    <form th:action="@{/prodi/update/submit}" th:object="${prodi}" class="form-horizontal" method="post">
        <div class="form-group">
            <div class="col-sm-10">
                <input th:field="*{kode_univ}" type="hidden" class="form-control" id="kode_univ" placeholder="Kode" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-10">
                <input th:field="*{kode_prodi}" type="hidden" class="form-control" id="kode_prodi" placeholder="Kode Prodi" required="true" maxlength="6" />
            </div>
        </div>

        <div class="form-group">
            <label for="nama_prodi" class="col-sm-2 control-label">Nama Prodi</label>
            <div class="col-sm-10">
                <input th:field="*{nama_prodi}" type="text" class="form-control" id="nama_prodi" placeholder="Nama Prodi" maxlength="100" required="true" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success">Save</button>
            </div>
        </div>
    </form>
</div><!-- /.container -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script th:src="@{/js/jquery.min.js}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>