<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Pengumuman SBMPTN</title>

    <!-- Bootstrap -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/style.css}" rel="stylesheet" />

</head>
<body>
<div id="fb-root"></div>
<script th:src="@{/js/fb.share.js}"></script>
<div class="container">
    <div th:replace="fragments/header :: header"></div>
    <h1>Pengumuman SBMPTN</h1>

    <form th:action="@{/pengumuman/submit}" method="post" id="nomorForm">
        <div class="form-group">
            <label for="nomorpeserta">Nomor Peserta :</label>
            <input th:value="${nomorPeserta}" name="nomorpeserta" type="text" class="form-control" id="nomorpeserta" placeholder="Nomor Peserta" required="true" />
        </div>
        <button id="submitButton" type="submit" class="btn btn-success">Submit</button>
    </form>
    <br/>

    <div class="panel panel-default" id="resultPanel" style="display: none;">
        <div class="panel-body">
            <div id="result"></div>
        </div>
        <div class="panel-footer">
            <div class="fb-share-button" data-layout="button" data-size="large" data-mobile-iframe="true"><a onclick="FBShareOp();" class="fb-xfbml-parse-ignore" target="_blank">Share</a></div>
        </div>
    </div>
</div><!-- /.container -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script th:src="@{/js/jquery.min.js}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script th:src="@{/js/bootstrap.min.js}"></script>
<script>
$( document ).ready(function() {
    $("#resultPanel").hide();
});
$("#nomorForm").submit(function(e){
    e.preventDefault();

    var request = $.post("/pengumuman/submit/", $("#nomorForm").serialize());

    request.done(function(data) {
        var content = $(data).find("#hasilPengumuman");

        $("#result").empty().append(content);
        $("#resultPanel").show();

        var currentUrl = 'http://' + window.location.hostname + ':' + location.port + window.location.pathname;
        var nomorPeserta = $("#nomorpeserta").val();
        var newUrl = currentUrl + '?nomor=' + nomorPeserta;

        history.pushState(null, null , newUrl);
    });
});
</script>
<script>

    </script>
</body>
</html>