<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Pengumuman</title>

    <!-- Bootstrap -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/style.css}" rel="stylesheet" />

</head>
<body>
<div class="container">
    <div th:replace="fragments/header :: header"></div>
    <h1>Pengumuman SBMPTN</h1>
    <div id="hasilPengumuman" >
    <table th:object="${peserta}" class="table">
        <tr>
            <td>Nomor</td>
            <td th:text="*{nomor}"></td>
        </tr>

        <tr>
            <td>Nama</td>
            <td th:text="*{nama}"></td>
        </tr>

        <tr>
            <td>Tanggal Lahir</td>
            <td th:text="*{#dates.format(tanggalLahir, 'dd-MM-yyyy')}"></td>
        </tr>

        <tr>
            <td>Umur</td>
            <td th:text="*{umur}"></td>
        </tr>
    </table>

    <div th:with="isMasuk = ${peserta.kode_prodi} != null"
         th:classappend="${isMasuk} ? 'alert-success' : 'alert-danger'" class="alert"
         role="alert">
        <span th:unless="${isMasuk}">Mohon maaf, Anda belum lulus seleksi SBMPTN</span>
        <span th:unless="!${isMasuk}">Selamat, Anda lulus seleksi SBMPTN pada prodi
            <a th:href="${university.url_univ}" th:text="${prodi.nama_prodi}+ ' ' + ${university.nama_univ}"
               target="_blank"></a>
        </span>
    </div>
    </div>

</div><!-- /.container -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script th:src="@{/js/jquery.min.js}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>