<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Detail Peserta</title>

    <!-- Bootstrap -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/style.css}" rel="stylesheet" />

</head>
<body>
<div class="container">
    <div th:replace="fragments/header :: header"></div>

    <div class='page-header'>
        <div class='btn-toolbar pull-right'>
            <div class='btn-group'>
                <a th:href="@{/peserta/update/} + ${peserta.nomor}"><button type='button' class='btn btn-primary'><span class="glyphicon glyphicon-wrench"></span> Edit</button></a>
            </div>
            <div class='btn-group'>
                <a th:href="@{/peserta/delete/} + ${peserta.nomor}"><button onclick="return confirm('Are you sure you want to delete this item?');" type='button' class='btn btn-danger'><span class="glyphicon glyphicon-trash"></span> Delete</button></a>
            </div>
        </div>
        <h1 th:text="'Detail Peserta ' + ${peserta.nomor}"></h1>
    </div>

    <table th:object="${peserta}" class="table">
        <tr>
            <td>Nomor</td>
            <td th:text="*{nomor}"></td>
        </tr>

        <tr>
            <td>Nama</td>
            <td th:text="*{nama}"></td>
        </tr>

        <tr>
            <td>Tanggal Lahir</td>
            <td th:text="*{#dates.format(tanggalLahir, 'dd-MM-yyyy')}"></td>
        </tr>

        <tr>
            <td>Umur</td>
            <td th:text="*{umur}"></td>
        </tr>

        <tr th:unless="${prodi} == null">
            <td>Prodi</td>
            <td><p th:text="${prodi.kode_prodi} + ' - ' + ${prodi.nama_prodi}"></p><a th:href="@{/prodi} + '?kode=' + ${peserta.kode_prodi}"><button type="button" class="btn btn-info">Lihat Detail</button></a></td>
        </tr>
    </table>

</div><!-- /.container -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script th:src="@{/js/jquery.min.js}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>