<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Detail Prodi</title>

    <!-- Bootstrap -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/jquery.dataTables.min.css}" rel="stylesheet" />
    <link th:href="@{/css/dataTables.bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/style.css}" rel="stylesheet" />

</head>
<body>
<div class="container">
    <div th:replace="fragments/header :: header"></div>
    <h1 th:text="${university.kode_univ} + ' - ' + ${university.nama_univ}"></h1>
    <div class='page-header'>
        <div class='btn-toolbar pull-right'>
            <div class='btn-group'>
                <a th:href="@{/prodi/update/} + ${prodi.kode_prodi}"><button type='button' class='btn btn-primary'><span class="glyphicon glyphicon-wrench"></span> Edit</button></a>
            </div>
            <div class='btn-group'>
                <a th:href="@{/prodi/delete/} + ${prodi.kode_prodi}"><button onclick="return confirm('Are you sure you want to delete this item?');" type='button' class='btn btn-danger'><span class="glyphicon glyphicon-trash"></span> Delete</button></a>
            </div>
        </div>
        <h3 th:text="${prodi.kode_prodi} + ' - ' + ${prodi.nama_prodi}"></h3>
    </div>


    <h4><a th:href="${university.url_univ}"></a></h4>

    <div>
        <div class='btn-toolbar pull-right'>
            <div class='btn-group'>
                <a th:href="@{/peserta/add?kode_prodi=} + ${prodi.kode_prodi}"><button type='button' class='btn btn-primary'><span class="glyphicon glyphicon-plus"></span> Tambah Peserta</button></a>
            </div>
        </div>
        <h3>Daftar Peserta</h3>
    </div>

    <h4 th:text="'Peserta Tertua  : ' + ${(oldest != null) ? oldest.nomor + ' - ' + oldest.nama + ', ' + oldest.umur + ' tahun.' : 'Daftar Kosong'}"></h4>
    <h4 th:text="'Peserta Termuda  : ' + ${(youngest != null) ? youngest.nomor + ' - ' + youngest.nama + ', ' + youngest.umur + ' tahun.' : 'Daftar Kosong'}"></h4>

    <table id="peserta_table" class="table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th>Nomor Peserta</th>
            <th>Nama Peserta</th>
            <th>Menu</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="peserta,iterate: ${prodi.daftar_peserta}">
            <td th:text="${peserta.nomor}"></td>
            <td th:text="${peserta.nama}"></td>
            <td><a th:href="@{/peserta} + '?nomor=' + ${peserta.nomor}"><button type="button" class="btn btn-info">Lihat Detail</button></a></td>
        </tr>
        </tbody>
    </table>
</div><!-- /.container -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script th:src="@{/js/jquery.min.js}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/js/dataTables.bootstrap.min.js}"></script>
<script type="text/javascript">
    $( document ).ready(function() {
        $('#peserta_table').DataTable( {
            "pagingType": "full_numbers"
        } );
    });
</script>
</body>
</html>