<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>University</title>

    <!-- Bootstrap -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/jquery.dataTables.min.css}" rel="stylesheet" />
    <link th:href="@{/css/dataTables.bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/style.css}" rel="stylesheet" />

</head>
<body>
<div class="container">
    <div th:replace="fragments/header :: header"></div>
    <h1>Detail Universitas</h1>

    <h3 th:text="'Kode : ' + ${university.kode_univ}">Kode Universitas</h3>
    <h3 th:text="'Nama : ' + ${university.nama_univ}">Nama Universitas</h3>
    <h3 th:text="'URL  : ' + ${university.url_univ}">URL Universitas</h3>

    <h3 th:text="'Peserta Tertua  : ' + ${(oldest != null) ? oldest.nomor + ' - ' + oldest.nama + ', ' + oldest.umur + ' tahun.' : 'Daftar Kosong'}"></h3>
    <h3 th:text="'Peserta Termuda  : ' + ${(youngest != null) ? youngest.nomor + ' - ' + youngest.nama + ', ' + youngest.umur + ' tahun.' : 'Daftar Kosong'}"></h3>

    <a th:href="@{/univ/} + ${university.kode_univ}"><button type="button" class="btn btn-primary">Daftar Prodi</button></a>

    <h3>Daftar Peserta</h3>
    <table id="peserta_table" class="table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th>No</th>
            <th>Nomor</th>
            <th>Nama</th>
            <th>Tanggal Lahir</th>
            <th>Umur</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="peserta,iterate: ${university.daftar_peserta}">
            <th th:text="${iterate.count}"></th>
            <th th:text="${peserta.nomor}"></th>
            <th th:text="${peserta.nama}"></th>
            <th th:text="${#dates.format(peserta.tanggalLahir, 'dd-MM-yyyy')}"></th>
            <th th:text="${peserta.umur}"></th>
        </tr>
        </tbody>
    </table>


</div><!-- /.container -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script th:src="@{/js/jquery.min.js}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/js/dataTables.bootstrap.min.js}"></script>

<script type="text/javascript">
    $( document ).ready(function() {
        $('#peserta_table').DataTable( {
            "pagingType": "full_numbers"
        } );
    });
</script>
</body>
</html>