<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Daftar Universitas</title>

    <!-- Bootstrap -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/jquery.dataTables.min.css}" rel="stylesheet" />
    <link th:href="@{/css/dataTables.bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/style.css}" rel="stylesheet" />

</head>
<body>
<div class="container">
    <div th:replace="fragments/header :: header"></div>
    <div class='page-header'>
        <div class='btn-toolbar pull-right'>
            <div class='btn-group'>
                <a th:href="@{/univ/add/}"><button type='button' class='btn btn-primary'><span class="glyphicon glyphicon-plus"></span> Tambah Universitas</button></a>
            </div>
            <div class='btn-group'>
                <a th:href="@{/peserta/add/}"><button type='button' class='btn btn-primary'><span class="glyphicon glyphicon-plus"></span> Tambah Peserta</button></a>
            </div>
        </div>
        <h1>Daftar Universitas</h1>
    </div>


    <table id="daftar_universitas" class="table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nama</th>
            <th>Menu</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="university: ${universities}">
            <td th:text="${university.kode_univ}">Kode Universitas</td>
            <td th:text="${university.nama_univ}">Nama Universitas</td>
            <td><a th:href="@{/univ/} + ${university.kode_univ}"><button type="button" class="btn btn-info">Lihat Detail</button></a></td>
        </tr>
        </tbody>
    </table>
</div><!-- /.container -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script th:src="@{/js/jquery.min.js}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/js/dataTables.bootstrap.min.js}"></script>

<script type="text/javascript">
    $( document ).ready(function() {
        $('#daftar_universitas').DataTable( {
            "pagingType": "full_numbers"
        } );
    });
    </script>
</body>
</html>