<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Add University</title>

    <!-- Bootstrap -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" methods="post"/>
    <link th:href="@{/css/style.css}" rel="stylesheet" />

</head>
<body>
<div class="container">
    <div th:replace="fragments/header :: header"></div>
    <h1>Update University</h1>

    <form th:action="@{/univ/update/submit}" th:object="${university}" class="form-horizontal" method="post">
        <div class="form-group">
            <label for="kode_univ" class="col-sm-2 control-label">Kode Universitas</label>
            <div class="col-sm-10">
                <input th:field="*{kode_univ}" type="text" class="form-control" id="kode_univ" placeholder="Kode" readonly="true" />
                <span class="bg-danger" th:if="${#fields.hasErrors('kode_univ')}" th:errors="*{kode_univ}">Name Error</span>
            </div>
        </div>

        <div class="form-group">
            <label for="nama_univ" class="col-sm-2 control-label">Nama Universitas</label>
            <div class="col-sm-10">
                <input th:field="*{nama_univ}" type="text" class="form-control" id="nama_univ" placeholder="Nama" required="true" />
                <span class="alert-danger help-block" th:if="${#fields.hasErrors('nama_univ')}" th:errors="*{nama_univ}">Name Error</span>
            </div>
        </div>

        <div class="form-group">
            <label for="url_univ" class="col-sm-2 control-label">URL Universitas</label>
            <div class="col-sm-10">
                <input th:field="*{url_univ}" type="url" class="form-control" id="url_univ" placeholder="URL" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success">Save</button>
            </div>
        </div>
    </form>
</div><!-- /.container -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script th:src="@{/js/jquery.min.js}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>