<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>University</title>

    <!-- Bootstrap -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/jquery.dataTables.min.css}" rel="stylesheet" />
    <link th:href="@{/css/dataTables.bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/style.css}" rel="stylesheet" />

</head>
<body>
<div class="container">
    <div th:replace="fragments/header :: header"></div>
    <div class='page-header'>
        <div class='btn-toolbar pull-right'>
            <div class='btn-group'>
                <a th:href="@{/univ/update/} + ${university.kode_univ}"><button type='button' class='btn btn-primary'><span class="glyphicon glyphicon-wrench"></span> Edit</button></a>
            </div>
            <div class='btn-group'>
                <a th:href="@{/univ/delete/} + ${university.kode_univ}"><button onclick="return confirm('Are you sure you want to delete this item?');" type='button' class='btn btn-danger'><span class="glyphicon glyphicon-trash"></span> Delete</button></a>
             </div>
        </div>
        <h1>Detail Universitas</h1>
    </div>

    <table class="table">
        <tr>
            <td>Kode</td>
            <td th:text="${university.kode_univ}"></td>
        </tr>

        <tr>
            <td>Nama</td>
            <td th:text="${university.nama_univ}"></td>
        </tr>

        <tr>
            <td>URL</td>
            <td><a th:href="${university.url_univ}" th:text="${university.url_univ}"></a></td>
        </tr>
    </table>

    <a th:href="@{/univ/peserta/} + ${university.kode_univ}"><button type="button" class="btn btn-primary">Daftar Peserta</button></a>

    <div>
        <div class='btn-toolbar pull-right'>
            <div class='btn-group'>
                <a th:href="@{/prodi/add} + '?kode_univ=' + ${university.kode_univ}"><button type='button' class='btn btn-primary'><span class="glyphicon glyphicon-plus"></span> Tambah Prodi</button></a>
            </div>
        </div>
        <h3>Daftar Prodi</h3>
    </div>

    <table id="prodi_table" class="table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th>Kode</th>
            <th>Nama</th>
            <th>Menu</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="prodi,iterate: ${university.daftar_prodi}">
            <td th:text="${prodi.kode_prodi}"></td>
            <td th:text="${prodi.nama_prodi}"></td>
            <td><a th:href="@{/prodi} + '?kode=' + ${prodi.kode_prodi}"><button type="button" class="btn btn-info">Lihat Detail</button></a></td>
        </tr>
        </tbody>
    </table>

</div><!-- /.container -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script th:src="@{/js/jquery.min.js}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/js/dataTables.bootstrap.min.js}"></script>

<script type="text/javascript">
    $( document ).ready(function() {
        $('#prodi_table').DataTable( {
            "pagingType": "full_numbers"
        } );
        $('#peserta_table').DataTable( {
            "pagingType": "full_numbers"
        } );
    });
</script>
</body>
</html>